body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 3%;
  grid-column-gap: 3%;
}

.round {
  height: 250px;
  width: auto;
  border-radius: 60%;
  margin-left: 0;
}

#header {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-content: center;
  background-color: #66d44a;
  padding: 3%;
  color: white;
}

#title {
  width: 70%;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-color: white;
}

#sidebar {
  background-color: #D0D0D0;
  margin-left: 30%;
  padding-left: 5%;
  padding-right: 5%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: auto;
  padding-top: 2%;
}

#main-content {
  height: auto;
  padding-right: 20%;
  grid-column-start: 2;*/
  grid-column-end: 4;*/
  display: flex;
}

.main-item {
  border-style: solid;
  border: 3px;
  border-color: black;
  flex-grow: 1;
}

.dataentry {
  display: flex;
  justify-content: flex-start;
}

.entrydate {
  flex-grow: 2;
}

.entrydetail {
  flex-grow: 7;
  margin-left: 5%;
  margin-bottom: 7%;
}

.fa {
  text-decoration: none;
  padding-right: 25%;
  padding-bottom: 5%;
  line-height: 3.6;
}

.skill-exp {
  display: flex;
}

.skills {
  flex-grow: 5;
}
